<h1>Pod erstellen</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <p>Wählen Sie einen Namen für Ihren Pod. Er wird in Kleinbuchstaben umgewandelt.</p>
    <ol>
      <li>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" autofocus placeholder="mein-pod">
      </li>
    </ol>
    <p>Wählen Sie, welche WebID anfängliche Schreibrechte auf dem Pod haben soll.</p>
    <ol>
      <li class="radio">
        <label>
          <input type="radio" id="internalWebIdOn" name="internalWebId" value="on" checked>
          WebID im Pod verwenden und mit Ihrem Konto verknüpfen.
        </label>
      </li>
      <li class="radio">
        <label>
          <input type="radio" id="internalWebIdOff" name="internalWebId" value="">
          Externe WebID verwenden.
        </label>
        <ol id="existingWebIdForm">
          <li>
            <label for="webId">Bestehende WebID:</label>
            <input id="webId" type="text" name="webId" placeholder="https://example.org/profile#me">
          </li>
        </ol>
      </li>
    </ol>
  </fieldset>

  <ul class="actions">
    <li><button type="submit" name="submit" disabled>Pod erstellen</button></li>
    <li><button type="button" id="account-link">Zurück</button></li>
  </ul>
</form>
<div class="hidden" id="response">
  <h2>Ihr neuer Pod</h2>
  <p>
    Ihr neuer Pod befindet sich unter <a id="response-podBaseUrl" href="" class="link"></a>.
    <br>
    Sie können dort Ihre Dokumente und Daten speichern.
    Alle mit diesem Konto verknüpften WebIDs haben Kontrollzugriff auf diesen Pod.
  </p>

  <div id="response-linkWebId">
    <h2>Ihre neue WebID</h2>
    <p>
      Ihre neue WebID ist <a id="response-webId" href="" class="link"></a>.
      <br>
      Sie können diese Kennung verwenden, um mit Solid Pods und Apps zu interagieren.
    </p>
  </div>

  <p class="actions"><button type="button" id="response-account-link">Zurück</button></p>
</div>


<script>
  const { mainForm } = getElements('mainForm');

  (async() => {
    let res = await fetch('<%= idpIndex %>', { headers: { accept: 'application/json' } });

    const { controls } = await res.json();
    setRedirectClick('account-link', controls.html.account.account);
    setRedirectClick('response-account-link', controls.html.account.account);

    addPostListener(async() => {
      const formData = new FormData(mainForm);
      const json = {
        name: formData.get('name'),
      }
      if (formData.get('internalWebId') === '') {
        json.settings = { webId: formData.get('webId') };
      }

      const res = await postJson(controls.account.pod, json);
      if (res.status >= 400) {
        throw new Error((await res.json()).message);
      }

      const { pod, webId, webIdResource } = await res.json();

      updateElement('response-podBaseUrl', pod, { innerText: true, href: true });
      if (webIdResource) {
        updateElement('response-webId', webId, { innerText: true, href: true });
      }

      setVisibility('response', true);
      setVisibility('response-linkWebId', Boolean(webIdResource));
      setVisibility('mainForm', false);
    });
  })();
</script>
