<h1>Zugangstokens erstellen</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <p>Wählen Sie einen Namen und die WebID, die mit dem Token verknüpft werden soll</p>
    <ol>
      <li>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" autofocus placeholder="Mein Token">
      </li>
    </ol>
    <ol id="webIdList">
    </ol>
  </fieldset>

  <ul class="actions">
    <li><button type="submit" name="submit" disabled>Token erstellen</button></li>
    <li><button type="button" id="account-link">Zurück</button></li>
  </ul>
</form>
<div class="hidden" id="no-webId">
  <p class="error">Es sind keine WebIDs mit diesem Konto verknüpft.</p>
  <p class="actions"><button type="button" id="error-account-link">Zurück</button></p>
</div>
<div class="hidden" id="response">
  <p>
    Speichern Sie das Geheimnis an einem sicheren Ort, da es später nicht mehr abgerufen werden kann!
  </p>
  <p>
    Token-Kennung: <strong id="token-id"></strong>
  </p>
  <p>
    Token-Geheimnis: <strong style="word-wrap:break-word;" id="token-secret"></strong>
  </p>

  <p class="actions"><button type="button" id="response-account-link">Zurück</button></p>
</div>


<script>
  (async() => {
    const controls = await fetchControls('<%= idpIndex %>');
    const { webIdLinks } = await fetchJson(controls.account.webId, '<%= idpIndex %>');

    setRedirectClick('account-link', controls.html.account.account);
    setRedirectClick('error-account-link', controls.html.account.account);
    setRedirectClick('response-account-link', controls.html.account.account);

    const webIds = Object.keys(webIdLinks);
    if (webIds.length === 0) {
      setVisibility('no-webId', true);
      setVisibility('mainForm', false);
      return;
    }

    const { webIdList } = getElements('webIdList');
    for (const webId of webIds) {
      webIdList.insertAdjacentHTML('beforeend', `
        <li class="radio">
          <label for="${webId}">
            <input id="${webId}" type="radio" name="webId" value="${webId}" ${webIds.length === 1 ? 'checked' : ''}>
            ${webId}
          </label>
        </li>`);
    }

    addPostListener(async() => {
      const { id, secret } = await postJsonForm(controls.account.clientCredentials);
      updateElement('token-id', id, { innerText: true });
      updateElement('token-secret', secret, { innerText: true });
      setVisibility('response', true);
      setVisibility('mainForm', false);
    });
  })();
</script>
