<h1>Pod-Einstellungen</h1>
<p class="error" id="error"></p>
<h2 id="pod"></h2>

<h3>Eigentümer</h3>
<p>
  Alle diese WebIDs haben vollen Kontrollzugriff auf alle Ressourcen im Pod.
  Falls sichtbar, werden diese als Header bei allen Anfragen an den Pod zurückgegeben.
</p>
<ul id="owners"></ul>

<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <p>WebID hinzufügen, die zur Liste der Eigentümer hinzugefügt werden soll</p>
    <ol>
      <li>
        <label for="webId">WebID:</label>
        <input id="webId" type="text" name="webId" autofocus placeholder="https://example.org/profile#me">
      </li>
    </ol>
  </fieldset>

  <p class="actions">
    <button type="submit" name="submit" disabled>Eigentümer hinzufügen</button>
    <button type="button" id="account-link">Zurück</button>
  </p>
</form>


<script>
  const elements = getElements('owners');
  (async() => {
    const { baseUrl, owners, controls } = await fetchJson('', '<%= idpIndex %>');
    updateElement('pod', baseUrl, { innerText: true });

    setRedirectClick('account-link', controls.html.account.account);

    for (const { webId, visible } of owners) {
      const li = document.createElement('li');
      li.insertAdjacentHTML('beforeend', `<strong>${webId}</strong>`);
      elements.owners.append(li);

      // Visibility element
      const label = document.createElement('label');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.checked = visible;
      label.append(checkbox);
      label.append('Sichtbar');
      li.append(label);
      checkbox.addEventListener('click', async() => {
        const res = await fetch('', {
          method: 'POST',
          headers: { 'content-type': 'application/json' },
          body: JSON.stringify({ webId, visible: checkbox.checked }),
        });
        if (res.status >= 400) {
          const error = await res.json();
          setError(error.message);
        }
      });

      // Delete element
      const fetchParams = {
        method: 'POST',
        headers: { 'content-type': 'application/json' },
        body: JSON.stringify({ webId, remove: true }),
      }
      const del = createUrlDeleteElement(li, '', fetchParams,
        `Sind Sie sicher, dass Sie ${webId} als Eigentümer von ${baseUrl} entfernen möchten?`);
      li.append(' ');
      li.append(del);
    }

    addPostListener(async() => {
      await postJsonForm('');
      location.reload();
    });
  })();
</script>
