<h1>Ihr Konto</h1>
<p class="error" id="error"></p>
<div id="passwordLogins">
  <h2>E-Mail/Passwort-Anmeldungen</h2>
  <p>Die E-Mail/Passwort-Anmeldungen zur Identifizierung dieses Kontos.</p>
  <a id="createPasswordLogin" href="" class="link">Anmeldung hinzufügen</a>
  <ul id="passwordLoginEntries"></ul>
</div>
<div id="pods">
  <h2>Pods</h2>
  <p>Die von diesem Konto erstellten Pods.</p>
  <a id="createPod" href="" class="link">Pod erstellen</a>
  <ul id="podEntries"></ul>
</div>
<div id="webIds">
  <h2>Registrierte WebIDs</h2>
  <p>
    Dies sind die WebIDs, mit denen Sie sich über dieses Konto authentifizieren können.
    Diese WebIDs haben auch vollen Kontrollzugriff auf die für dieses Konto registrierten Pods.
  </p>
  <a id="linkWebId" href="" class="link">WebID verknüpfen</a>
  <ul id="webIdEntries"></ul>
</div>
<div id="clientCredentials">
  <h2>Zugangstokens</h2>
  <p>Die von diesem Konto erstellten Tokens.</p>
  <a id="createCredentials" href="" class="link">Token erstellen</a>
  <ul id="clientCredentialsEntries"></ul>
</div>
<p class="actions">
  <button class="hidden" type="button" id="oidc">Authentifizierung fortsetzen</button>
  <button type="button" id="logout" name="logout">Abmelden</button>
</p>

<script>
  const elements = getElements('passwordLoginEntries', 'podEntries', 'webIdEntries', 'clientCredentialsEntries', 'oidc', 'logout');

  // Retrieve and display client information
  (async() => {
    const controls = await fetchControls('<%= idpIndex %>');

    // Button to continue OIDC session if there is one,
    // in case someone needed to create/update the account during a session.
    setVisibility('oidc', <%= authenticating %>);
    elements.oidc.addEventListener('click', async() => {
      const body = await fetchJson(controls.oidc.prompt);
      location.href = body.location;
    });

    elements.logout.addEventListener('click', async() => {
      await fetch(controls.account.logout, { method: 'POST' });
      location.href = controls.html.main.login;
    });

    // Update email/password entries
    const { passwordLogins } = await fetchJson(controls.password.create);
    updateElement('createPasswordLogin', controls.password.create, { href: true });
    showAccountInfo(elements.passwordLoginEntries, passwordLogins, true, true,
      'Sind Sie sicher, dass Sie diese Anmeldemethode löschen möchten? Dies verhindert, dass Sie sich mit diesen Zugangsdaten bei Ihrem Konto anmelden können.');

    // Update pod entries
    const { pods } = controls.account.pod ? await fetchJson(controls.account.pod) : {};
    if (!controls.html.account.createPod && Object.keys(pods ?? {}).length === 0) {
      setVisibility('pods', false);
    } else {
      updateElement('createPod', controls.html.account.createPod, { href: true });
      showAccountInfo(elements.podEntries, pods, true, false);
    }

    // Update WebID entries
    const { webIdLinks } = controls.account.webId ? await fetchJson(controls.account.webId) : {};
    if (!controls.html.account.linkWebId && Object.keys(webIdLinks ?? {}).length === 0) {
      setVisibility('webIds', false);
    } else {
      updateElement('linkWebId', controls.html.account.linkWebId, { href: true });
      showAccountInfo(elements.webIdEntries, webIdLinks, false, true,
        'Sind Sie sicher, dass Sie die Registrierung dieser WebID löschen möchten? ' +
        'Wenn Sie dies tun, können Sie sich nicht mehr als diese WebID mit diesem Server identifizieren, was dazu führen kann, dass Sie den Zugriff auf Daten verlieren, die auf diese WebID beschränkt sind.',
        'Stellen Sie sicher, dass Sie das entsprechende solid:oidcIssuer-Triple aus der WebID entfernen, um zu verhindern, dass bestehende Zugangstokens weiterhin verwendet werden.');
    }

    // Update Client Credentials entries
    const { clientCredentials } = controls.account.clientCredentials ? await fetchJson(controls.account.clientCredentials) : {};
    if (!controls.html.account.createClientCredentials && Object.keys(clientCredentials ?? {}).length === 0) {
      setVisibility('clientCredentials', false);
    } else {
      // Initial boolean is so the create button gets hidden if the account has no WebIDs.
      // Currently, this does not get updated if the last WebID gets deleted, until the page is refreshed.
      updateElement('createCredentials', Object.keys(webIdLinks).length && controls.html.account.createClientCredentials, { href: true });
      showAccountInfo(elements.clientCredentialsEntries, clientCredentials, false, true,
        'Sind Sie sicher, dass Sie diesen Token löschen möchten? Dies verhindert, dass dieser Token in Zukunft verwendet werden kann.');
    }
  })();

  // Adds account info to the UI
  function showAccountInfo(rootElement, data, addUpdate, addDel, confirmMsg, finishMsg) {
    for (const [ key, url ] of Object.entries(data)) {
      const li = document.createElement('li');

      // I didn't want to add another parameter to the function to indicate if the key should be a link
      if (/^https?:\/\//.test(key)) {
        li.insertAdjacentHTML('beforeend', `<a href="${key}">${key}</a>`);
      } else {
        li.append(key);
      }


      if (addUpdate) {
        li.insertAdjacentHTML('beforeend', ` <a href="${url}">(bearbeiten)</a>`);
      }


      if (addDel) {
        const del = createUrlDeleteElement(li, url, { method: 'DELETE' }, confirmMsg, finishMsg);
        li.append(' ');
        li.append(del);
      }
      rootElement.append(li);
    }
  }
</script>
