<h1>Konto erstellen</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <p>Wählen Sie die Anmeldedaten, die Sie künftig für die Anmeldung auf diesem Server verwenden möchten</p>
    <ol>
      <li>
        <label for="email">E-Mail:</label>
        <input id="email" type="email" name="email" autofocus placeholder="ihre@email.de">
      </li>
      <li>
        <label for="password">Passwort:</label>
        <input id="password" type="password" name="password" placeholder="Passwort wählen">
      </li>
      <li>
        <label for="confirmPassword">Passwort bestätigen:</label>
        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Passwort wiederholen">
      </li>
    </ol>
  </fieldset>

  <ul class="actions">
    <li><button type="submit" name="submit" disabled>Anmeldung hinzufügen</button></li>
    <li><button type="button" id="account-link">Zurück</button></li>
  </ul>
</form>


<script>
  (async() => {
    let res = await fetch('<%= idpIndex %>', { headers: { accept: 'application/json' } });

    const { controls } = await res.json();
    setRedirectClick('account-link', controls.html.account.account);

    addPostListener(async(event) => {
      validatePasswordConfirmation('password');

      await postJsonForm(controls.password.create);
      location.href = controls.html.account.account;
    });
  })();
</script>
