<div id="input-partial">
  <h1>Passwort vergessen</h1>
  <form method="post" id="mainForm">
    <p class="error" id="error"></p>

    <fieldset>
      <ol>
        <li>
          <label for="input-email">E-Mail</label>
          <input id="input-email" type="email" name="email" autofocus placeholder="ihre@email.de">
        </li>
      </ol>
    </fieldset>

    <ul class="actions">
      <li><button type="submit" name="submit" disabled>Wiederherstellungs-E-Mail senden</button></li>
      <li><button type="button" id="input-login-link">Zurück</button></li>
    </ul>
  </form>
</div>
<div id="response-partial">
  <h1>E-Mail gesendet</h1>
  <p>Falls Ihr Konto existiert, wurde eine E-Mail mit einem Link zum Zurücksetzen Ihres Passworts gesendet.</p>
  <p>Falls Sie die E-Mail nicht innerhalb weniger Minuten erhalten, überprüfen Sie bitte Ihren Spam-Ordner oder versuchen Sie es erneut.</p>

  <ul class="actions">
    <li><button type="button" id="response-login-link">Anmelden</button></li>
    <li><button type="button" id="response-forgot-link">Zurück</button></li>
  </ul>
</div>

<script>
  setVisibility('response-partial', false);

  (async() => {
    const controls = await fetchControls('<%= idpIndex %>');

    setRedirectClick('input-login-link', controls.html.password.login);
    setRedirectClick('response-login-link', controls.html.password.login);
    setRedirectClick('response-forgot-link', controls.html.password.forgot);

    addPostListener(async() => {
      await postJsonForm(controls.password.forgot);
      // Swap visibility
      setVisibility('input-partial', false);
      setVisibility('response-partial', true);
    });
  })();
</script>
