<h1>Passwort 채ndern</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <ol>
      <li>
        <label for="oldPassword">Altes Passwort:</label>
        <input id="oldPassword" type="password" name="oldPassword" placeholder="Aktuelles Passwort">
      </li>
      <li>
        <label for="newPassword">Neues Passwort:</label>
        <input id="newPassword" type="password" name="newPassword" placeholder="Neues Passwort">
      </li>
      <li>
        <label for="confirmPassword">Passwort best채tigen:</label>
        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Passwort wiederholen">
      </li>
    </ol>
  </fieldset>

  <ul class="actions">
    <li><button type="submit" name="submit" disabled>Passwort 채ndern</button></li>
    <li><button type="button" id="account-link">Zur체ck</button></li>
  </ul>
</form>


<script>
  (async() => {
    const controls = await fetchControls('<%= idpIndex %>');

    setRedirectClick('account-link', controls.html.account.account);

    addPostListener(async() => {
      validatePasswordConfirmation('newPassword');

      await postJsonForm('');
      location.href = controls.html.account.account;
    });
  })();
</script>
